@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin-top: 56px;
}

.container-fluid {
  padding: 0 0;
  margin: 0 0;
}

.inline-img {
  display: inline-block;
}

.clear {
  clear:both;
}

.pull-right {
  margin-left:5px;
}

// Jumbotron

.jumbotron {
  color: #3F3F3F;
  background-color: rgba(255, 255, 255, 0.21);
  margin-top: 75px;
  border: none;
}

// Centra la ul para poner una nav a la mitad

.navbar {
  text-align:center;
}

.navbar-nav {
  display: inline-block;
  float: none;
}

.logo {
  margin-top: -7px;
  margin-right: 10px;
  padding-top: 16px;
}

// #logo_tag {
  // float: left;
  // display: inline;
// }

// #logo_codea {
  // float: right;
  // display: inline;
// }

// #content {
//   margin-top:50px;
//   height:auto;
// }

// Removes odd right margin bootstrap
.first-row {
  margin: 0 0;
}

#first_section {
  background:#89E2CA;
  width: 100%;
  min-height: 250px;
}

.container-margin {
  margin-top: 30px;
}

h1 {
  font-family: sans-serif;
}

.title {
  margin-top:40px;
  height:130px;
}

.input-group-addon {
  font-size:30px;
  color:#337ab7;

}


// Twitter Seach Results

#search_results {
  margin-top: 30px;
}

.search_thumbnails {
  border: 1px solid #ddd;
  margin-top: 10px;
  padding-left: 0px;
  padding-right: 5px;
}

.search_thumbnails div{
  display:inline-block;
}

.search_btn {
  float:right;
  margin-top: 6px;
}

.search_btn a {
  display: block;
  border: none;

}

.search_btn form {
  margin-top: 7px;
}

.search_caption {
  // margin-left: -8px;
}

.caption {
  display: inline-block;
}

.username-card {
  display: inline-block;
}

.username-card-img {
  height: 75px;
  width: 75px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.thumbnail-fix {
  padding: 0;
}

.thumbnail > img {
  display: inline-block;
}

.alert {
  margin-top: 15px;
}

.alert-success {
    background-color: rgba(51, 122, 183, 0.85);
    border: none;
    color: #FFF;
}

.proposal-input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.counter {
    margin-top: -112px;
    margin-left: 38px;
    width: 22px;
    border-radius: 50%;
    z-index: 1;
}

.img_container {
  width: 48px;
  height: 48px;
}

// Image centered on index

.img_box {
    max-width: 48px;
    max-height: 48px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index:-1;
}

.proposal_box{
    width: 48px;
    height: 48px;
    vertical-align: middle;
}

// Media Query to hide menu in collapse on different breakpoint than default

@media (max-width: 876px) {
    .navbar-header {
        float: none;
    }
    .navbar-left, .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav > li {
        float: none;
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

// span.glyphicon {
//     font-size: 1.9em;
// }
